<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>

    </style>
</head>

<body>
    <p>Dear Consumer,</p>
    <p>Congrats on your successful transaction, please find below a Certificate of Authenticity.</p>
    <p>This certificate assures that this product is original.</p>
    <img src="cid:image" />

    <br>
    <h4>Thanks,<br>Support Team</h4>

</body>

</html>